Repository DarthEvgenius/react-ideas: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --loglevel warn --cache --write, stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

.lintstagedrc.yml:

'*.{ts,js,json,yml}': 'prettier --loglevel warn --cache --write'
'*.scss':
  - 'stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix'

stylelint try
  frontend/src/components/Layout/index.module.scss
Due: stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

lintstagedrc config for scss moved to frontend
  .lintstagedrc.yml
  frontend/.lintstagedrc.yml
Due: prettier --loglevel warn --cache --write

stylecheck added
  .husky/pre-commit
  frontend/package.json
Due: prettier --loglevel warn --cache --write

stylecheck test
  frontend/src/components/Layout/index.module.scss
Due: stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

form newIdea added; adny type allowed
  frontend/eslint.config.js
  frontend/src/components/Input/index.tsx
  frontend/src/components/Textarea/index.tsx
  frontend/src/pages/NewIdeaPage/index.tsx
  frontend/tsconfig.app.json
Due: prettier --loglevel warn --cache --write

formik update: zod added
  frontend/package.json
  frontend/src/components/Input/index.tsx
  frontend/src/components/Textarea/index.tsx
  frontend/src/pages/NewIdeaPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

trpc refactoring, separated to files
  backend/src/index.ts
  backend/src/lib/ideas.ts
  backend/src/lib/trpc.ts
  backend/src/router/getIdea/index.ts
  backend/src/router/getIdeas/index.ts
  backend/src/router/index.ts
  backend/src/trpc.ts
  frontend/src/lib/trpc.ts
Due: prettier --loglevel warn --cache --write

generate index plugin added
  backend/src/router/index.ts
Due: prettier --loglevel warn --cache --write

create idea: link with backend
  backend/src/router/createIdea/index.ts
  backend/src/router/createIdea/input.ts
  backend/src/router/index.ts
  frontend/src/pages/NewIdeaPage/index.tsx
Due: prettier --loglevel warn --cache --write

styles added
  backend/src/router/createIdea/index.ts
  frontend/README.md
  frontend/package.json
  frontend/src/components/Alert/index.module.scss
  frontend/src/components/Alert/index.tsx
  frontend/src/components/Input/index.module.scss
  frontend/src/components/Input/index.tsx
  frontend/src/components/Segment/index.module.scss
  frontend/src/components/Textarea/index.module.scss
  frontend/src/components/Textarea/index.tsx
  frontend/src/pages/NewIdeaPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write, stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

components added
  frontend/src/components/Button/index.module.scss
  frontend/src/components/Button/index.tsx
  frontend/src/components/FormItems/index.module.scss
  frontend/src/components/FormItems/index.tsx
  frontend/src/pages/NewIdeaPage/index.tsx
Due: stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

database added: postgresql and prisma
  .gitignore
  backend/.gitignore
  backend/env.example
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/migrations/20251210120033_add_idea_model/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

linked to database: create idea, show all, show idea; createdAt field added to idea model;
  backend/package.json
  backend/prisma/migrations/20251210145449_add_created_at_to_idea/migration.sql
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/lib/ctx.ts
  backend/src/lib/trpc.ts
  backend/src/router/createIdea/index.ts
  backend/src/router/getIdea/index.ts
  backend/src/router/getIdeas/index.ts
  backend/src/trpc.ts
  frontend/package.json
  frontend/src/pages/ViewIdeaPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

superjson added
  backend/package.json
  backend/src/index.ts
  backend/src/lib/trpc.ts
  backend/src/router/createIdea/index.ts
  backend/src/trpc.ts
  frontend/package.json
  frontend/src/lib/trpc.ts
  frontend/src/pages/ViewIdeaPage/index.module.scss
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write, stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

added user model; endpoint for user signUp
  backend/package.json
  backend/prisma/migrations/20251211140920_add_user_model/migration.sql
  backend/prisma/schema.prisma
  backend/src/index.ts
  backend/src/lib/ideas.ts
  backend/src/lib/trpc.ts
  backend/src/router/index.ts
  backend/src/router/signUp/index.ts
  backend/src/router/signUp/input.ts
  frontend/src/lib/routes.ts
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

sign up page created
  frontend/src/App.tsx
  frontend/src/components/Input/index.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/lib/routes.ts
  frontend/src/pages/SignUpPage/index.module.scss
  frontend/src/pages/SignUpPage/index.tsx
Due: prettier --loglevel warn --cache --write, stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix

sign in page and backend added
  backend/src/lib/trpc.ts
  backend/src/router/index.ts
  backend/src/router/signIn/index.ts
  backend/src/router/signIn/input.ts
  backend/src/router/signUp/index.ts
  backend/src/utils/getPasswordHash.ts
  frontend/src/App.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/lib/routes.ts
  frontend/src/pages/SignInPage/index.tsx
Due: prettier --loglevel warn --cache --write

sign in with token
  backend/package.json
  backend/src/lib/ctx.ts
  backend/src/router/signIn/index.ts
  backend/src/router/signUp/index.ts
  backend/src/utils/jwt.ts
  frontend/package.json
  frontend/src/pages/SignInPage/index.tsx
  frontend/src/pages/SignUpPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

auth with log in/log out
  backend/env.example
  backend/src/index.ts
  backend/src/lib/ctx.ts
  backend/src/lib/env.ts
  backend/src/lib/passport.ts
  backend/src/lib/trpc.ts
  backend/src/router/getMe/index.ts
  backend/src/router/index.ts
  backend/src/utils/jwt.ts
  backend/src/utils/types.ts
  frontend/src/App.tsx
  frontend/src/components/Layout/index.tsx
  frontend/src/lib/routes.ts
  frontend/src/lib/trpc.ts
  frontend/src/pages/SignInPage/index.tsx
  frontend/src/pages/SignOutPage/index.tsx
  frontend/src/pages/SignUpPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write

frontend env added; backend env use fix; eslint custom rule added;
  backend/src/lib/passport.ts
  frontend/env.example
  frontend/eslint.config.js
  frontend/src/lib/lib.ts
  frontend/src/lib/trpc.ts
  frontend/vite.config.ts
Due: prettier --loglevel warn --cache --write

password salt added; type any allowed
  backend/env.example
  backend/eslint.config.js
  backend/src/lib/env.ts
  backend/src/lib/passport.ts
  backend/src/utils/getPasswordHash.ts
Due: prettier --loglevel warn --cache --write

add link author to idea
  backend/package.json
  backend/prisma/migrations/20251219134503_add_author_to_idea_and_ideas_to_user/migration.sql
  backend/prisma/schema.prisma
  backend/src/router/createIdea/index.ts
  backend/src/router/getIdea/index.ts
  frontend/src/pages/ViewIdeaPage/index.tsx
Due: prettier --loglevel warn --cache --write

edit idea feature
  backend/src/router/index.ts
  backend/src/router/updateIdea/index.ts
  backend/src/router/updateIdea/input.ts
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Button/index.tsx
  frontend/src/components/EditIdeaComponent/index.tsx
  frontend/src/lib/routes.ts
  frontend/src/pages/EditIdeaPage/index.module.scss
  frontend/src/pages/EditIdeaPage/index.tsx
  frontend/src/pages/ViewIdeaPage/index.module.scss
  frontend/src/pages/ViewIdeaPage/index.tsx
  pnpm-lock.yaml
Due: prettier --loglevel warn --cache --write, stylelint --cache --cache-location ./node_modules/.cache/.stylelintcache --fix
